html {

}
/************************/
/*MOBILE*/

/*navigation header*/
.navigation-header {
    height: 64px;
    display: flex;
    justify-content: space-around;
}



/*banner*/
.banner-image-container {
    height: 180px;
    width: 100%;
    background-color: gray;
}

.banner-image {
    display: none;
}

.banner-slogan-container {
    width: 100%;
    background-color: lightgrey;
}

.banner-slogan {
    padding: 16px 32px;
}



/*middle articles*/
.entire-middle-article-container {
    width: 100%;
}



/*large images for desktop set to display:none*/
.large {
    display: none;
}
.left-middle-container {
    border-bottom: .75px solid lightgrey;
    padding-bottom: 32px;
}

.middle-article-container {
    padding: 16px;
}

.middle-article-image {
    width: 100%;
}

.middle-article-image img {
    width: 100%;
}

.middle-article-info {
    width: 100%;
    padding-right: 32px;
    padding-left: 32px;
}


/*start learning container pictures and info hidden on mobile*/
.entire-start-learning-container {
    display: none;
}

.start-learning-mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 32px;
    border-bottom: .75px solid lightgrey;
}

.start-learning-title {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 16px;
}

.start-learning-mobile-course {
    background-color: lightgrey;
    padding: 16px 0 16px 16px;
    margin-bottom: 8px;
    margin-right: 16px;
    margin-left: 16px;
}


/*Thesis Exhibits mobile*/
.hidden-mobile-info{
    display: none;
}

.thesis-exhibits-entire-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: .75px solid lightgrey;
}

.thesis-exhibits-title {
    padding-top: 32px;
    padding-bottom: 32px;
}

video {
    height: 230px;
    width: 100%;
}

.thesis-exhibits-entire-container .left-middle-container {
    display: none;
}






/*mobile footer*/

.terms-privacy {
    display: none;
}

.copyright {
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 24px;
}