html {

}
/************************/
/*MOBILE*/

/*navigation header*/
.navigation-header {
    height: 64px;
    display: flex;
    justify-content: space-around;
}



/*banner*/
.banner-image-container {
    height: 180px;
    width: 100%;
}

.banner-image {
    display: none;
}

.banner-slogan-container {
    width: 100%;
    background-color: lightgrey;
}

.banner-slogan {
    padding: 16px 32px;
}

.start-here {
    background-color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 100%;
}


/*large images for desktop set to display:none*/
.large {
    display: none;
}
.main-story-image {
    display: none;
}
.main-story-info {
    display: none;
}



/*middle articles*/
.entire-middle-article-container {
    width: 100%;
}

.left-middle-container {
    border-bottom: .75px solid lightgrey;
    padding-bottom: 32px;
}

.middle-article-container {
    padding: 16px;
}

.middle-article-image {
    width: 100%;
}

.middle-article-image img {
    width: 100%;
}

.middle-article-info {
    width: 100%;
    padding-right: 32px;
    padding-left: 32px;
}


/*start learning container pictures and info hidden on mobile*/
.entire-start-learning-container {
    display: none;
}

.start-learning-mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 32px;
    border-bottom: .75px solid lightgrey;
}

.start-learning-title {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 16px;
}

.start-learning-mobile-course {
    background-color: lightgrey;
    padding: 16px 0 16px 16px;
    margin-bottom: 8px;
    margin-right: 16px;
    margin-left: 16px;
}


/*Thesis Exhibits mobile*/
.hidden-mobile-info{
    display: none;
}

.thesis-exhibits-entire-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: .75px solid lightgrey;
}

.thesis-exhibits-title {
    padding-top: 32px;
    padding-bottom: 32px;
}

video {
    height: 230px;
    width: 100%;
}

.thesis-exhibits-entire-container .left-middle-container {
    display: none;
}
.thesis-exhibits-info {
    display: none;
}



/*mobile footer*/

.terms-privacy {
    display: none;
}

.copyright {
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 24px;
}


@media only screen and (min-width: 700px){


    .col-two-thirds {
        width: 60%;
        float: left;
        border: 2px solid yellow;
    }
    /*.col-third {
        width: 35%;
        float: left;
        border: 2px solid pink;
    }*/
    .row {
        width: 100%;
        clear: both;
    }
    .small {
        display: none;
    }
    .navigation-header {
        width: 1024px;
        margin: 0 auto;
    }

    /*banner desktop*/
    .banner {
        width: 1024px;
        display: flex;
        margin: 0 auto;
        background-color: lightgrey;
        padding-bottom: 32px;
    }

    .banner-image-container {
        height: 100%;
        padding-top: 32px;
        padding-left: 24px; 
        padding-right: 20px;
    }

    .banner-image {
        display: unset;
    }
    .banner-image img {
        width: 100%;
    }

    .banner-slogan-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 423px;
        padding-left: 20px;
        border: 2px solid pink;
    }

    .banner-slogan {
        padding: 0;
        width: 70%;
    }

    .large {
        display: unset;
    }
    .main-story-image {
        display: unset;
    }
    .main-story-info {
        display: unset;
    }

    /*******************/
    /*middle container*/
    .entire-middle-content-container {
        width: 1024px;
        display: flex;
        margin: 0 auto;
    }

    .main-story-image img {
        width: 100%;
    }

    .main-story-container {
        padding: 0;
        margin: 0;
        padding-left: 24px; 
        padding-right: 24px;
        padding-top: 32px;
    }

    /*left side small articles*/
    .left-middle-container {
        border-bottom: .75px solid lightgrey;
        padding-bottom: 32px;
        clear: both;
    }
    /*left side small articles*/
    .middle-article-container {
        padding: 0;
        padding-top: 32px;
        width: 423px;
        display: flex;
        border-left: .75px solid lightgrey;
        border-bottom: .75px solid lightgrey;
        border: 2px solid pink;
    }
    /*left side small images*/
    .middle-article-image {
        width: 35%;
        margin-left: 16px;
    }
    .middle-article-image img {
        width: 100%;
    }
    /*left side small info*/
    .middle-article-info {
        width: 60%;
        padding-right: 32px;
        padding-left: 32px;
    }



}